* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    position: relative;
    height: 100vh
}

.bg-green {
    background-color: #1CD1B0;
}

.bg-gray{
    background-color: #888888;
    color: #FFFFFF;

}

.bg-blue {
    background-color: #00669F;
}

header,
section,
footer {
    margin: 0px auto;
    width: 1440px;
}

header {
    height: 103px;
}

.box-green {
    height: 23px;
    padding-left: 20px;
}

.box-blue {
    height: 80px;
    color: #FFFFFF;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #FFFFFF;
    font-size: 30px;
}

section{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;

}

.cards{
    flex-direction: row;
}


/*

Cards

*/

.card {
    display: inline-block;
    width: 300px;
    height: 529px;
    margin: 18px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-heart {
    position: absolute;
    left: 21px;
    top: 15px;

}

.cover {
    height: 193px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-batman .cover {
    background-image: url('../img/cover-batman.png');
}

.card-hq .cover {
    background-image: url('../img/cover-hq.png');
}

.avatar-batman {
    position: absolute;
    top: 128px;
    left: 90px;
    border-radius: 50%;
}

.content {
    background-color: #F3F3F3;
    height: 336px;
    padding-top: 70px;
}

.title-content {
    font-size: 30px;
    line-height: 35px;
}

.text-content {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin: 10px 17px 37px 16px;
}

.btn {
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #F3F3F3;
    width: 128.78px;
    height: 48.52px;
    background: #00669F;
}

/* END CARDS */

article {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: auto;
    margin: auto 0px;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: 72px;
    margin-bottom: 51px;
}

input, select {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 20px;
}

article button{
    width: 100%;
    border: none;
    border-radius: 24px;
    height: 53px;
    padding: 10px;
    font-weight: bold;
font-size: 20px;
margin-top: 34px;
margin-bottom: 20px;
}
article a {
    text-decoration: none;

    color: #00669F;
}

.button-group{
    display: flex;
}

.btn-gray{
    margin-right: 20px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 61px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;

}

footer>.bg-blue{
    width: 1440px;
    margin: 0px auto;
}
