* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    position: relative;
    height: 100vh
}

.pointer {
    cursor: pointer;
}

.bg-green {
    background-color: #1CD1B0;
}

.bg-gray {
    background-color: #888888;
    color: #FFFFFF;

}

.bg-blue {
    background-color: #00669F;
}

header,
section,
footer {
    margin: 0px auto;
    width: 1440px;
}

header {
    height: 103px;
}

.bg-dark {
    height: 40px;
    background: #001D2D;

}

.bg-dark nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: auto;


}

.bg-dark nav ul li {
    margin: 0px 15px;
    line-height: 39px;

}

.bg-dark nav ul li a {

    text-decoration: none;
    color: #FFFFFF;

}

.box-green {
    height: 23px;
    padding-left: 20px;
}

.box-blue {
    height: 80px;
    color: #FFFFFF;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #FFFFFF;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;

}

.cards {
    flex-direction: row;
    justify-content: center;
}


/*

Cards

*/

.card {

    width: 300px;
    height: auto;
    margin: 18px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.icon-heart {
    position: absolute;
    left: 21px;
    top: 15px;

}

.cover {
    height: 193px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-batman .cover {
    background-image: url('../img/cover-batman.png');
}

.card-hq .cover {
    background-image: url('../img/cover-hq.png');
}

.avatar-batman {
    position: absolute;
    top: 128px;
    left: 90px;
    border-radius: 50%;
}

.content {
    background-color: #F3F3F3;
    height: 336px;
    padding-top: 70px;
}

.title-content {
    font-size: 30px;
    line-height: 35px;
}

.text-content {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin: 10px 17px 37px 16px;
}

.btn {
    font-size: 15px;
    color: #F3F3F3;
    width: 128.78px;
    height: 48.52px;
    margin: 0px auto;
    background: #00669F;
    border-radius: 0px;
}

.btn a {
    color: #F3F3F3;
}

/* END CARDS */

/* Detail Section */
.detail-section {
    height: 90vh;
    background-image: url(../img/bg-1.png);
}

.card-detail {
    position: relative;
    width: 546px;
}

.avatar-detail {
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -45px;
    left: 0px;
    width: 159px;
    margin: 0px auto;
}

.icon-heart-detail{
    width :40px;
    position: relative;
    top: 80px;
    left: 20px;
}

.content-detail{
    border-radius: 45px;
    background-color: #F3F3F3;
    height: 456px;
    padding-top: 90px;
}

.detail-guns{
    display: flex;
    justify-content: center;
}

.detail-guns div{
    margin: 0px 25px;
}

.detail-footer-card{
    background-color: #2C0187;
    height: 87px;
    border-radius: 0px 0px 45px 45px;

}

.detail-footer-card a{
    color: #FFFFFF;
   font-size: 20px;
   line-height: 80px;

}



.title-content-detail a{
    text-decoration: underline;
    font-size: 35px;
    margin-top: 15px;
}







/* End detail secftion */




article {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: auto;
    margin: auto 0px;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: 72px;
    margin-bottom: 51px;
}

input,
select {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 20px;
}

article button {
    width: 100%;
    border: none;
    border-radius: 24px;
    height: 53px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 20px;
}

article a {
    text-decoration: none;

    color: #00669F;
}

.button-group {
    display: flex;
}

.btn-gray {
    margin-right: 20px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 61px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;

}

footer>.bg-blue {
    width: 1440px;
    margin: 0px auto;
}